{% extends 'bace.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block profile %}{% get_img 'User' user.slug %}{% endblock %}
{% block title %}New Post{% endblock %}
{% block home_url %}{% url 'home' %}{% endblock %}
{% block add_url %}{% url 'new_post' %}{% endblock %}
{% block account_activity %}{% url 'account_activity' %}{% endblock %}
{% block profile_url %}{% url 'profile' %}{% endblock %}
{% block main %}
    <div class="account_activity">
        <ul>
            {% for applicant in applicants %}
                <li>
                    <div style="width: 200px;display: inline-block">
                        <img class="profile" width="35px" height="35px" src="{{ applicant.from_user.image.url }}"
                             alt="{% translate 'user_profile' %}">
                        <a href="{% url 'general_profile' applicant.from_user.slug %}">
                            <span class="index">{{ applicant.from_user.user_name }}</span>
                        </a>
                    </div>
                    <a href="{% url 'follow' applicant.from_user.slug %}">
                        <button class="custom-btn" style="cursor: pointer">Confirm</button>
                    </a>
                    <a href="{% url 'cancel_request' applicant.from_user.slug %}">
                        <button class="custom-btn" style="cursor: pointer">Delete</button>
                    </a>

                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}