{% extends 'bace.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block profile %}{% get_img 'User' user.slug %}{% endblock %}
{% block title %}{% translate Profile %}{% endblock %}
{% block home_url %}{% url 'home' %}{% endblock %}
{% block add_url %}{% url 'new_post' %}{% endblock %}
{% block account_activity %}{% url 'account_activity' %}{% endblock %}
{% block profile_url %}{% url 'profile' %}{% endblock %}
{% block main %}
    <div class="user_info">
        <div>
            <img class="profile" src="{{ owner.image.url }}" alt="profile" height="150px" width="150px">
        </div>
        <div class="info">
            {% if owner in user.following.all %}
                <h2>{{ owner.user_name }}<a href="{% url 'request'  owner.slug %}"
                                            style="margin-left: 10px;">
                    <button class="custom-btn" style="width: 70px;cursor: pointer">Unfollow</button>
                </a></h2>
            {% elif owner in user.request_to.all %}
                <h2>{{ owner.user_name }}<a href="{% url 'request' owner.slug %}"
                                            style="margin-left: 10px">
                    <button class="custom-btn" style="width: 70px;cursor: pointer">cancel</button>
                </a></h2>
            {% else %}
                <h2>{{ owner.user_name }}<a href="{% url 'request'  owner.slug %}"
                                            style="margin-left: 10px">
                    <button class="custom-btn" style="width: 70px;cursor: pointer">follow</button>
                </a></h2>
            {% endif %}


            <div>
                <span><span class="eng_number">{{ owner.post_set.count }}</span>
                    {% translate 'post' %}{{ owner.post_set.count|pluralize }}</span>
                <span class="margin_left">
                    <span class="eng_number">{{ owner.followers.count }}</span>
                    <button id="my-followers-Btn" class="myBtn">{% translate 'followers' %}</button>
                    <div id="my-followers-Modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content" style="width: 450px">
                        <span class="close">&times;</span>
                        {% for followers in owner.followers.all %}
                            <div style="width: 400px !important;">
                                <img class="profile" src="{{ followers.image.url }}" width="35px" height="35px"
                                     alt="">
                                <a href="{% url 'general_profile'  followers.slug %}"><span
                                        class="index">{{ followers.user_name }}</span></a>

                            </div>
                        {% endfor %}
                    </div>

                    </div>
                </span>

                <span class="margin_left">
                    <span class="eng_number">{{ owner.following.count }}</span>
                    <button id="my-following-Btn" class="myBtn">{% translate 'following' %}</button>
                    <div id="my-following-Modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content" style="width: 450px">
                        <span class="close">&times;</span>
                        {% for following in owner.following.all %}
                            <div style="width: 400px !important;">
                                <img class="profile" src="{{ following.image.url }}" width="35px" height="35px"
                                     alt="">
                                <a href="{% url 'general_profile'  following.slug %}"><span
                                        class="index">{{ following.user_name }}</span></a>

                            </div>
                        {% endfor %}
                    </div>

                    </div>
                </span>

                <h4 class="margin_top">{{ owner.full_name }}</h4>
                <p style="height: 100px;width:300px;margin-top: 5px;font-weight: 100" class="margin_top">
                    {{ owner.bio }}
                </p>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 20px">
    <div class="personal_post_layout_container">
        <div class="personal_post_layout">
            {% for post in owner.post_set.all %}
                <a href="{% url 'post_detail' post.id %}?next={{ owner.slug }}"><img src="{{ post.image.url }}"
                                                                                    alt=""></a>
            {% endfor %}
        </div>
    </div>

{% endblock %}