{% extends 'bace.html' %}
{% load static %}
{% load custom_tags %}
{% block profile %}{% get_img 'User' user.slug %}{% endblock %}
{% block title %}Home{% endblock %}
{% block home_url %}{% url 'home' %}{% endblock %}
{% block add_url %}{% url 'new_post'  %}{% endblock %}
{% block account_activity %}{% url 'account_activity'  %}{% endblock %}
{% block profile_url %}{% url 'profile'  %}{% endblock %}
{% block main %}
    <div style="display: flex;flex-direction: column;align-items: center">
        {% for post in posts %}
            <div class="post">
                <div class="header">
                    <img class="profile" src="{{ post.publisher.image.url }}" alt="" height="35px" width="35px"
                         style="margin-right: 10px;">
                    <span style="font-size: 13px">{{ post.publisher.user_name }}</span>
                </div>
                <img src="{{ post.image.url }}" alt="" width="400px" height="400px">
                <div class="footer-post">
                    <a href="{% url 'like'  post.id %}">
                        {% if user in post.like.all %}
                            <img src="{% static 'images/heart (4).svg' %}" alt="">
                        {% else %}
                            <img src="{% static 'images/heart (3).svg' %}" alt="">
                        {% endif %}

                    </a><span
                        class="index">{% like_number post as likes %} <span style="font-family: Aria">{{ likes }}</span>like{{ likes|pluralize }}</span>


                    {#************************Comment**********************************#}
                    <a href="{% url 'post_detail' post.id %}?next=home"><img src="{% static 'images/chat.svg' %}"
                                                                             width="20px" height="20px" alt=""></a>
                    <span class="index">{% comment_number post as comments %} {{ comments }}comment{{ comments|pluralize }}</span>
                    <p class="index">{{ post.age }}</p>
                    <div class="post_content_home_page">{{ post.content }}</div>
                    <div class="comment">
                        <form action="{% url 'comment' post.id %}" class="dp_flex_align margin_top"
                              method="post">
                            {% csrf_token %}
                            <textarea class="comment_textarea" placeholder="Add a comment..." name="comment"></textarea>
                            <input style="cursor: pointer;background: #F6F3F3;margin-left: 10px" type="submit"
                                   value="post">
                        </form>
                    </div>


                </div>
            </div>


        {% endfor %}
    </div>
{% endblock %}
