/* sing_up Page*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: IRANSans;
    font-size: 13px;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 550px;
    background: #fff;
    border: 0.5px solid #DFDFDF;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    margin: 15px auto;

}


.sign-up-form li {
    font-family: IRANSans;
    font-size: 10px;
    width: 250px;
    list-style: none;
    margin: 0 auto;

}

.sign-up-form input {
    width: 230px;
    height: 30px;
    font-family: IRANSans;
    border: none;
    border-radius: 5px;
    background: #F3F3F3;
    margin: 2px auto;
    outline: none;
    padding: 0 10px;
    text-align: justify;
}

.btn {
    background: rgb(0, 149, 246);
    width: 250px;
    height: 30px;
    border: none;
    color: #ffffff;
    margin: 7px auto;
    font-family: IRANSans;
    border-radius: 5px;
    outline: none;
}

.sign-up-container .login-span {
    font-family: IRANSans;
    font-size: 13px;
}

.sign-up-container .login-span a {
    color: blue;
    text-decoration: none;
}

.wrong {
    color: red;
    opacity: 0.6;
    font-family: IRANSans;
    font-size: 13px;
    margin: 0 30px;

}

.edit-container {

}
.edit-form {
    display: flex;
    flex-direction: column;
    margin: 15px auto;

}

.edit-container .lable {
    text-align: right;
    padding-right: 20px;
}

.edit-container input {
    width: 250px;
    height: 30px;
    font-family: IRANSans;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    padding: 2px 5px;
}

#id_bio {
    width: 250px;
    height: 50px;
    font-family: IRANSans;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    padding: 2px 5px;
}

#id_gender {
    width: 260px;
    height: 30px;
    font-family: IRANSans;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    padding: 2px 5px;

}

#image-clear_id {
    width: 20px !important;
    margin-top: 15px;
    display: block;
    margin-bottom: -10px;
}

label[for=image-clear_id] {
    display: none;
}

#image-clear_id:before {
    content: 'clear:';
    position: relative;
    bottom: 15px;
}