{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
</head>
<body>
<div class="sign-up-container">
    <img style="margin-top: 50px" src="{% static 'images/user/logo.png' %}" alt="">


    {% if next %}
        {% if user.is_authenticated %}
            <p>{% translate "Your account doesn't have access to this page. To proceed,please login with an account that has access." %}</p>
        {% else %}
            <p>{% translate 'Please login to see this page.' %}</p>
        {% endif %}
    {% endif %}
    <form method="post" class="sign-up-form" action="{% url 'login' %}">
        {% if form.errors %}
            <p class="wrong"
               style="font-size: 11px;width: 250px">{% translate "Your username and password didn't match. Please try again." %}</p>
        {% endif %}
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <button type="submit" value="login" class="btn">{% translate 'login' %}</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    <p><a href="{% url 'password_reset' %}">{% translate 'Lost password?' %}</a></p>
    <p class="login-span">{% translate 'Create an account?' %} <a href="{% url 'sign_up' %}"> {% translate 'Sign Up' %}</a></p>
</div>

<script>
    document.getElementById("id_username").placeholder = {% translate "username" %};
    document.getElementById("id_password").placeholder = {% translate "Password" %};


</script>
</body>
</html>