{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign_up</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
</head>
<body>
<div class="sign-up-container">
    <img style="margin-top: 50px" src="{% static 'images/user/logo.png' %}" alt="">
    <form method="post" class="sign-up-form">

        {% csrf_token %}
        {% for field in form %}
            <div style="margin:7px auto;width: 250px;">
                {#                {% if field.help_text %}#}
                {#                    <small style="color: grey;font-size: 11px">{{ field.help_text }}</small>#}
                {#                {% endif %}#}
                {% for error in field.errors %}
                    <p style="color: red;font-size: 11px">{{ error }}</p>

                {% endfor %}
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {{ field }}
            </div>
        {% endfor %}
        {% if message %}
            <span class="wrong">{{ message }}</span>
        {% endif %}
        <button type="submit" class="btn">Sign up</button>

    </form>
    <p class="login-span">Have an account? <a href="{% url 'login' %}"> Log in</a></p>


</div>
<script src="{% static 'js/user/user.js' %}"></script>
</body>
</html>